<!-- Contact me -->
<div class="container mt-4" id="contact_me">
  <h3 class="display-5 text-center">Contacto</h3>
    <div class="row text-center mt-3">
      <div class="col-sm-12 col-md-6 col-lg-3 mb-3" *ngFor="let redes of contactList" >
        <div class="card shadow">
          <img [src]="redes.img" class="imgClassCard">
          <div class="card-body">
            <a [href]="redes.link" class="btn btn-primary" target="_BLANK">Seguime en {{redes.red}} </a>
          </div>
        </div>
      </div>
    </div>
  <br>
</div> 