body {
	background: #43C6AC; 
	background: -webkit-linear-gradient(to bottom, #191654, #43C6AC);
	background: linear-gradient(to bottom, #191654, #43C6AC); 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.slide {
	border: 3px solid #000;
	margin-left: 10px;
	margin-right: 10px;
	z-index: -1;
}

.imgClass {
	min-height: 250px;
}

.actives {
	padding: 0px 15px;
}

.actives:hover {
	text-shadow: 0px 0px 10px #FFF;
	border: 1px solid #999;
}

.profile-image {
	margin-left: 60px;
	margin-top: -115px;
	border-radius: 50%;	
	border: 8px solid lightskyblue;
}

.name {
	font-size: 32px;
}

.textInformation {
	margin-left: 30px;
}


#info-details {
	list-style: none;
	text-decoration: none;
	text-align: right;
	margin-right: 30px;
}

h3 {
	margin-left: 30px;
}

ul {
	list-style: none;
	text-decoration: none;
}