.navLink {
	border: 1px solid #fff;
	border-radius: 10px;
	opacity: 0.7;
}

.navLink:hover {
	opacity: 1;
}

.login {
	border: 1px solid #ffff56;
	border-radius: 10px;
}

.login:hover {
	background-color: #ffff56;
	text-shadow: 0px 0px 10px #0a0a0a;
}

.carousel-item {
	max-height: 450px;
}

.imgClass {
	margin-top: -110px;
	border-radius: 50%;
}

@media ( max-width: 576px ) {
	.imgClass {
		width: 80px;
		height: 80px;
		margin-top: -65px;
	}
}


@media ( max-width: 768px ) {
	.about_me {
		width: 60px;
		height: 60px;
		margin: 8px 45%;
	}	
}

@media ( max-width: 992px ) {
	.nav-link {
		text-align: center;
		justify-content: center;
		margin-bottom: 6px;
	}
}

@media ( max-width: 500px ) {
	p {
		text-align: justify;
	}
}

.detalles {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu {
	position: relative;
	border: 1px solid cyan;
	border-radius: 20px;
}

.menu div {
	position: relative;
	width: 0;
	height: 5px;
	background-color: cyan;
}

.subtitle {
	font-size: 30px;
	font-weight: bold;
}

.imgClassCard {
	width: 96px;
	height: 96px;
	margin: 20px 0px 10px 0px;
}

.card {
	justify-content: center;
	align-items: center;
}

.card:hover {
	opacity: 0.8;
}


/*Animaciones de los porcentajes de carga*/
/*Lo bueno que tiene este método es que aunque tengas 60 tecnologías para agregar,
las animaciones son muchas menos :), lo cual es muy positivo ya que ahorra código*/
#noventa-menu{
	animation: nov-var 3s forwards;
}
@keyframes nov-var {
	100% {
		width: 90%;
	}
}

#ochenta-menu {
	animation: och-var 3s forwards;
}
@keyframes och-var {
	100% {
		width: 80%;
	}
}

#setenta-menu {
	animation: set-var 3s forwards;
}
@keyframes set-var {
	100% {
		width: 70%;
	}
}

#sesenta-menu {
	animation: ses-var 3s forwards;
}
@keyframes ses-var {
	100% {
		width: 60%;
	}
}

#cincuenta-menu {
	animation: cin-var 3s forwards;
}
@keyframes cin-var {
	100% {
		width: 50%;
	}
}

/*FIN SECCIÓN ANIMACIONES DE CARGA	*/