<!-- Slider automático banner -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="z-index: -1">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="myPortfolio.backImage1" class="d-block w-100">
      </div>
  
      <div class="carousel-item">
        <img [src]="myPortfolio.backImage2" class="d-block w-100">
      </div>
    </div>
  </div>
  
  <!-- Autorretrato -->
  <div class="container">
    
    <img [src]="myPortfolio.image" class="imgClass">
    <h1 class="display-3">{{myPortfolio.name}}</h1>
    <span>{{myPortfolio.ubication}}</span>
  
  <hr>
  </div>
  
