<!-- Formación -->
<div class="container mb-2">
    <h4>Formación</h4>
    <div class="row my-2">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 ">
        <img src="./assets/Imagenes/poli.png" class="img-fluid">
      </div>
  
      <div class="col-sm-6 col-md-8 col-lg-9 col-xl-9 my-auto">
        <p>
          Estudié y realicé el secundario en la escuela Polivalente, o ESEA Nro 1 (Escuela Secundaria Especializada en Artes) de Tandil. Elegí la orientación en Artes visuales por lo que tengo título de Realizador en Artes visuales con especialidad en producción - pintura. Pinté varios cuadros, en mi <a href="#contact_me">facebook</a>, podrán encontrar algo de lo que hago. Además me encanta la fotografía, en mi <a href="#contact_me">instagram</a> podrán encontrar algunas fotos que voy subiendo como proyecto personal de fotografía independiente. 
        </p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 ">
        <img src="./assets/Imagenes/FDCE.png" class="img-fluid">
      </div>
  
      <div class="col-sm-6 col-md-8 col-lg-9 col-xl-9 my-auto">
        <p>
          Actualmente me encuantro cursando el primer año de la carrera de Ingeniería en sistemas
        </p>
      </div>
    </div>
  <hr>
  </div>