<!-- Habilidades -->
<div class="container mt-4 mb-2" id="skills_and_softs">
  <h3 class="display-5 text-center">Habilidades</h3>
  
  <!-- Frontend -->
  
    <!-- HTML -->
    <h4 class="mt-4 subtitle">FrontEnd</h4>
    <div class="row my-2">
      <div class="skills">
        <div class="detalles">
          <span>HTML</span>
          <span>90%</span>
        </div>
  
        <div class="menu">
          <div id="noventa-menu"></div>
        </div>
      </div>
    </div>
  
    <!-- CSS -->
    <div class="row my-2">
      <div class="skills">
        <div class="detalles">
          <span>CSS</span>
          <span>60%</span>
        </div>
  
        <div class="menu">
          <div id="sesenta-menu"></div>
        </div>
      </div>
    </div>
  
    <!-- JAVASCRIPT -->
    <div class="row my-2">
      <div class="skills">
        <div class="detalles">
          <span>JAVASCRIPT</span>
          <span>50%</span>
        </div>
  
        <div class="menu">
          <div id="cincuenta-menu"></div>
        </div>
      </div>
    </div>
  
  <!-- Backend -->
  
    <!-- JAVA -->
    <h4 class="mt-4 subtitle">Backend</h4>
    <div class="skills">
      <div class="detalles">
        <span>JAVA</span>
        <span>50%</span>
      </div>
  
      <div class="menu">
        <div id="cincuenta-menu"></div>
      </div>
    </div>
  
    <!-- Ruby -->
    <div class="row my-2">
      <div class="skills">
        <div class="detalles">
          <span>RUBY</span>
          <span>50%</span>
        </div>
  
        <div class="menu">
          <div id="cincuenta-menu"></div>
        </div>
      </div>
    </div>
  
  <!-- FrameWorks -->
  
    <!-- Angular -->
    <h4 class="mt-4 subtitle">FrameWorks</h4>
    <div class="skills">
      <div class="detalles">
        <span>ANGULAR</span>
        <span>50%</span>
      </div>
  
      <div class="menu">
        <div id="cincuenta-menu"></div>
      </div>
    </div>
  
    <!-- Bootstrap -->
    <div class="skills">
      <div class="detalles">
        <span>BOOTSTRAP</span>
        <span>70%</span>
      </div>
  
      <div class="menu">
        <div id="setenta-menu"></div>
      </div>
    </div>
  
  <!-- Idiomas -->
    
    <!-- Inglés -->
    <h4 class="mt-4 subtitle">Idiomas</h4>
    <div class="row my-2">
      <div class="skills">
        <div class="detalles">
          <span>INGLÉS</span>
          <span>70%</span>
        </div>
  
        <div class="menu">
          <div id="setenta-menu"></div>
        </div>
      </div>
    </div>
  
    <!-- Diseño -->
    <h4 class="mt-4 subtitle">Sistemas de diseño</h4>
    <div class="row">
      <div class="skills">
        <div class="detalles">
          <span>PHOTOSHOP</span>
          <span>70%</span>
        </div>
  
        <div class="menu">
          <div id="setenta-menu"></div>
        </div>
      </div>
    </div>  
<br>
</div>